@{
    ViewBag.Title = "Sample Dashboard";
}

<div class="row">
    <div class="page-title-container">
        <div class="title_wrapper"><div class="page-title">Product Dashboard</div><div class="editdashboard">Edit</div><div id="ellipsis_wrapper"><img id="ellipsis"></div></div>
        <div class="subtitle">Rephase (Android Application) Tool to aid sufferes of stoke</div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="row-lg-4">
            <div class="smallreport"><img id="numofusers" src="../Assets/NumberOfUsers.png"/></div>
        </div>
        <div class="row-lg-4">
            <div class="smallreport"><img id="numoflicenses" src="../Assets/NumberOfLicenses.png" /></div>
        </div>
        <div class="row-lg-4">
            <div class="smallreport"><img  id="numofversions" src="../Assets/NumberOfVersions.png" /></div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class=row>
            <div class="col-lg-8">
                <div class="mediumreport"><img id="usersbylicense" src="../Assets/UsersByLicense.JPG"/></div>
            </div>
        </div>
        <div class=row>
            <div class="col-lg-8">
                <div class="mediumreport"><img id="globalsoftware" src="../Assets/GlobalSoftwareUsage.JPG" /></div>
            </div>
        </div>
    </div>
</div>
